<% if signed_in? && !current_user?(user) %>
  <div>
    <% if current_user.allow?(user) %>
      <%= form_for(current_user.editorships.find_by_editor_id(user.id), html: { method: :delete }, remote: true) do |f| %>
        <%= f.submit "Disallow Playlist Edits", class: "disallow_button", data:{user_id:user.id} %>
      <% end %>
    <% else %>
      <%= form_for(current_user.editorships.build(editor_id: user.id), remote: true) do |f| %>
        <div><%= f.hidden_field :editor_id %></div>
        <%= f.submit "Allow Playlist Edits", class: "allow_button", data:{user_id:user.id} %>
      <% end %>
    <% end %>
  </div>
<% end %>
