<% if @video  %>
  <% publish_to "/videos/add_to/#{@playlist.id}" do %>
    $("#playlist").append('<%= escape_javascript(render 'playlists/playlist_item', position:@playlist.videos.length-1, video:@video) %>');
    queueReloadPlaylist('<%= @video.youtube_id %>');
    $("#video_notices").empty();
    <% flash.each do |k,v| %>
      $("#video_notices").append('<div class="alert alert-<%= k %>"><%= v %></div>');
      $('#video_notices').hide().fadeIn('slow');
    <% end %>
  <% end %>
<% end %>


$("#video_notices").empty();
<% flash.each do |k,v| %>
  $("#video_notices").append('<div class="alert alert-<%= k %>"><%= v %></div>');
<% end %>
<% flash.discard(:error) %>
<% flash.discard(:notice) %>

$('#video_url_raw').val('');
