<p id="notice"><%= notice %></p>

<p>
  <%= render @video, autoplay:1 %>
</p>

<p>
  <b>Rating:</b>
  <%= @video.rating %>
  <b>Title:</b>
  <%= @video.name %>
</p>


<%= link_to 'Back', videos_path %>
