<header class="navbar">
<div class="navbar-inner">
  <div class="container" id="topContainer">
    <%= link_to image_tag("logo.png", alt: "logo"), root_path, id: "imagelogo" %>
    <%= link_to "Playlister", root_path, id: "textlogo" %>
    <nav>
    <ul class="nav", id="rightnav">
      <li><%= link_to "Playlists", playlists_path %></li>
      <li><%= link_to "Videos", videos_path %></li>
      <li><%= link_to "New List", new_playlist_path, id:"newListButton" %></li>
      <li>
      <% if signed_in? %>
        <%= link_to "Sign out", signout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in", signin_path, method: :delete %>
      <% end %>
      </li>
    </ul>
  </div>
</div>
</header>
