<h1>Create New Playlist</h1>
<%= render 'shared/flash', flash: flash %>
<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @playlist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <%= f.label :name, "Playlist name" %>
    <%= f.text_field :name, placeholder:"Playlist name" %>
    </p>
    <% if signed_in? %>
      <p>
      <%= f.check_box :private %>
      <%= f.label :private, "Friend-only playlist", class: "checkbox inline" %>
      </p>
    <% end %>
    <%= f.submit "Create playlist", class:"btn" %>
  </div>
<% end %>
