<p id="notice"><%= notice %></p>

<p>
<b>Name:</b>
<%= @playlist.name %>
</p>
<b>Videos:</b>
<p>
<% if params[:video_id] %>
  <%= render @playlist.videos.find(params[:video_id]), autoplay:1 %>
<% else %>
  <%= render @playlist.videos.first %>
<% end %>
</p>
<ul id="playlist">
<%= render @playlist %>
</ul>

<%= render 'shared/video_form' %>

<%= link_to 'Rename', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
