<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
  <b>Videos:</b>
  <%= @playlist.pl_additions.each do |v| %>
    <li> <%= v %> </li>
  <% end %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
