<% provide :page_title, @playlist.name %>

<div class="row">
  <div class="span8">
    <% unless @playlist.videos.first.nil? %>
      <%= render @playlist.videos.first, playlist: @playlist %>
    <div class="titleBox">
      <h3 class="videoName"> <%= @playlist.videos.first.name %> </h3>
    </div>
    <% else %>
      <%= render Video.new %> 
    <% end %>

  </div>
  <div class="span4">

    <%= render 'videos/video_form' %>
    <ul id="playlist">
      <%= render @playlist %>
    </ul>
  </div>
</div>

<%= subscribe_to "/videos/add_to/#{@playlist.id}" %>
