<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>
  <b>Videos:</b>
<p>
  <%= render @playlist.videos.first %>
</p>
<p>
  <%= render @playlist %>
</p>

<%= render 'videos/video_form' %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
