<% provide :page_title, @playlist.name %>

</div> <!-- break normal template -->


<div class="row">
  <%= render 'shared/flash' %>
  <!-- YouTube player and metadata -->
  <div class="span8">
    <% unless @playlist.videos.first.nil? %>
      <%= render @playlist.videos.first, playlist: @playlist %>
    <% else %>
      <%= render Video.new %> 
    <% end %>
  </div>

  <!-- Playlist -->
  <div class="span4">
    <%= render 'videos/video_form' %>
    <ul id="playlist">
      <%= render @playlist %>
    </ul>
  </div>
</div>


<%= subscribe_to "/videos/add_to/#{@playlist.id}" %>
<div> <!-- resume normal template for footer -->
